# dependencies
node_modules/

# build output
dist/
build/
.build/
.swiftpm/
*.tgz

# dart
.dart_tool/
.packages
pubspec.lock

# android
.gradle/
local.properties
*.iml

# ios
Pods/
*.xcworkspace
xcuserdata/

# misc
.DS_Store
*.log
coverage/
